<div class="container-fluid">
  <div class="row">
    <div id="home" class="col-sm-8" style="background-color: #007cc2">
      Welcome to Sacchon app
      <a  routerLink="/">
        <img
          src="/assets/images/home.png"
          style="width: 40px; padding-left: 10px"
        />
      </a>
    </div>
    <div class="col-sm-4" style="background-color: #007cc2">
      <button type="button" class="button" (click)="RegisterNavClick()">
        Register
      </button>
      <button type="button" class="button" (click)="LoginNavClick()">
        Login
      </button>
    </div>
  </div>
</div>
