#home {
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: white;
  }
  .button {
    background-color: #007cc2;
    border: 1%;
    border-color: white;
    color: white;
    padding: 5px 8px;
    text-align: center;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    float: right;
  }