<nav class="nav-header sticky-top">
  <ul>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/insertdata"  >Insert Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/listdata">List Of Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/averagedata">Average Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/updateaccount">Update Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/patientconsultation">Consultation List</a>
      </li>

      <li style="float:right">
        <a class="active" (click)="logout()">Logout
          <img src="/assets/images/home.png"  style="width:40px; padding-left: 10px;" >
        </a>
    </ul>
  </nav>
