a{
  margin-left: 30px;
}
#bg{
  background: url('/assets/medic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}
#c{
    color: #007cc2;
    background-color: white;
    opacity:0.8;
    border-style: solid;
    border-color: #007cc2;

}
