
<nav class="nav-header sticky-top py-1" style="background-color: #007cc2;">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <li class="py-2 d-none d-md-inline-block"  id =home  > Sacchon logout
        <a class="navbar-brand" style="cursor: pointer;"  (click)="logout()">
        <img src="/assets/images/home.png"  style="width:40px; padding-left: 10px;" >
      </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Doctor Homepage
        <a class="navbar-brand" href="/doctor" >
          <img src="/assets/images/docHome.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Add patients
        <a class="navbar-brand" href="/doctorAddP" >
          <img src="/assets/images/plus.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
      <li class="py-2 d-none d-md-inline-block" id="account">Manage Account
        <a class="navbar-brand" href="/doctorAcc" >
          <img src="/assets/images/user.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </li>
    </div>
  </nav>
  <div class="jumbotron p-1 p-sm-1 " >
    <div class="container">
      <h2>Welcome Dr&nbsp;{{userObj1?.last_name}}&nbsp;{{userObj1?.first_name}}</h2>
    </div>
  </div>
  
  