#Services{
    background-color:white;
    bottom: 0;
    position: relative;
    padding: 15px;
   
   
}
#service{
    color:#007cc2;
}
#bg{
    background: url('/assets/medic.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  }
  #right{
    background:#ffffff;
    color: #007cc2;
    text-align: center;
    padding-top: 80px;
  }