<div class="container-fluid">
    <div class="row">
    <div  class="col-md-8">
      <div id="bg" style="width:100%;" > 
      </div>          
    </div>
      <div  id="right" class="col-md-4">
        <div> 
          <h1>Sacchon</h1>
            <h4>A Diabetes Management Web Application</h4>
          <p>Diabetes mellitus (DM), 
            commonly known as diabetes, 
            is a group of metabolic disorders characterized 
            by a high blood sugar level over a prolonged period of time.
            Symptoms often include frequent urination, 
            increased thirst, and increased appetite.
          </p>
          <div>
            <a type="button" class="btn btn-primary" href="https://www.who.int/health-topics/diabetes#tab=tab_1" >Learn More</a>
          </div>

        </div>          
      </div>  
</div>