<app-doctor-nav></app-doctor-nav>
<div style="width: 70%; text-align: center; margin-left:5%; margin-bottom: 5%;">

<h4 class="display-5" style="padding: 1% ;">Your patients</h4>
<table class="table table-hover table-responsive-sm " >
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First&LastName</th>
      <th scope="col">Email</th>
      <th scope="col">View patient measurements</th>
      <th scope="col">Consult patient</th>
    </tr>
  </thead>
  <tbody *ngFor="let assocP of DocAssocPatientList; let i = index">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{assocP.first_name}}&nbsp;{{assocP.last_name}}</td>
      <td>{{assocP.email}}</td>
      <td>
        <a class="navbar-brand" style="cursor: pointer;" (click)="doctorViewP(assocP.id ?? 0)" >
          <img src="/assets/images/seeData.png"  style="width:40px; padding-left: 10px;" >
        </a>
      </td>
      <td>
      <a class="navbar-brand" style="cursor: pointer;" (click)="doctorConsultP(assocP.id ?? 0)" >
        <img src="/assets/images/pen.jpg"  style="width:40px; padding-left: 10px;" >
      </a>
    </td>
    </tr>
  </tbody>
</table>
</div>




